*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    height: 100vh;
    background-image: url(https://img.freepik.com/premium-vector/abstract-white-bg-02-edit_7505-1800.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
p {
  color: rgb(8, 8, 8);
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
}

h1 {
  text-align: center;
  padding-left: 5px;
  padding-bottom: 10px;
}

a {
  color: rgb(231, 45, 45);
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 20px;
    width: 375px;
    height: 500px;
    
    background: transparent;
      border: 2px solid rgba(255, 255, 255, .2);
      color:#000000;
      border-radius: 20px;
      border: rounded;
      box-shadow: 10px 10px 20px #c5c5c5,-10px -10px 20px #fff;
      overflow: hidden;
}
.container h1{
    text-align: left;
    color: #ff3b3b;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 4px solid #3a2e2e;
}
.container label{
    text-align: right;
    color: #ff4646;
}
.container form input{
    width: calc(100% - 30px);
    padding: 0px 1px;
    margin-top: 10px;
    margin-bottom: 25px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #302525;
    color: #0f0202;
    font-size: 20px;
}
.container form button{
   width: 100%;
    height: 45px;
    padding: 20px ;
    font-size: 22;
    border: 0;
    margin-top: 10px;
padding: 0px 10px;
outline: none;
color: #fff;
background: linear-gradient(to right, #fb4283, #ff3527);
border-radius: 6px;
cursor: pointer;
transition: background-color 0.1ms, transform 0.2s;
}

button:hover {
background: linear-gradient(to right, #ff3527, #fb4283);
transform: scale(1.05);
}