


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KaryaSiswa</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/ekskul.css">    
  </head>
  <body class="">
<main>
  <!-- Spinner Start -->
  <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
      </div>
  </div>
  <!-- Spinner End -->
      
      <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0" style="border-radius: 0 0 30px 30px;">
        <a href="/KaryaSiswa" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-danger"><i class="fas fa-users me-3"></i>KaryaSiswa</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0"> 
                <a href="/Home" class="nav-item nav-link">Home</a>
                <div class="nav-item dropdown text-danger">
                    <a href="/Home" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Kegiatan</a>
                    <div class="dropdown-menu fade-down m-9">
                        <a href="/Pembelajaran" class="dropdown-item">Pembelajaran</a>
                        <a href="/Ekskul" class="dropdown-item bg-danger text-white active">Ekskul</a>
                        <a href="/GaleriSekolah" class="dropdown-item">GaleriSekolah</a>
                        <a href="/Quotes" class="dropdown-item">Quotes</a>
                    </div>
                </div>
                <a href="/Prestasi" class="nav-item nav-link">Prestasi</a>
                <a href="/Guru" class="nav-item nav-link">GuruKami</a>
                <a href="/TentangKami" class="nav-item nav-link">TentangKami</a>
                <a href="/Login" class="nav-item nav-link">Login</a>
                <div class="nav-item dropdown text-danger">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"></a>
                    <div class="dropdown-menu fade-down m-9">
                        <a href="/TimKami" class="dropdown-item">TimKami</a>
                        <a href="/PageNotFound" class="dropdown-item">PageNotFound</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Header Start -->
    <div class="container-fluid bg-danger py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Ekskul</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="/Home">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Ekskul</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->



    
{{-- content --}}
<div class="container mt-5">
  <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-danger px-3">Ekskul</h6>
    <h1 class="mb-5">Ekstrakulikuler</h1>
</div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <blockquote><h2 align="right" id="ekskul-title"></h2></blockquote>
        <p align="justify" id="ekskul-description"></p>
    </div>
    <div class="col-md-4">
        <img src="" id="ekskul-image" style="border-radius: 30px 30px 30px 30px;" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Ekskul Image">
    </div>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading-left  lh-1 ">Rohis Care</h2>
          <p align="justify"class="lead-left">Rohis care adalah sebuah organisasi yang fokus untuk memperdalam dan memperkuat ajaran agama islam. Fungsi dari rohis care sendiri adalah guna berbagi ilmu pengetahuan Islam dalam membentuk sebuah forum, pengajaran, juga dakwah.

          </p>
        </div>
        <div class="col-md-4 order-md-1">
          <img src="https://primaseru.smktelkom-bdg.sch.id/static/homepage/images/school_clubs/rohis.jpg" style="border-radius: 30px 30px 30px 30px;"svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></svg>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 align="left" >Paskibra</h2>
          <p align="justify">Ekstrakulikuler PASKIBRA bertujuan sebagai wadah pembinaan bagi anak-anak dan pemuda Indonesia dengan prinsip-prinsip metodik kepaskibraan yang pelaksanaannya disesuaikan dengan keadaan, kepentingan, dan perkembangan bangsa dan negara. Dan ekstrakulikuler ini bertujuan untuk menyiapkan siswa mampu melaksanakan upacara bendera yang lebih baik lagi, serta menunjang kegiatan belajar mengajar, khususnya di bidang pembinaan kesiswaan dalam pembentukan watak, kedisiplinan dan kepribadian siswa melalui kegiatan kepaskibraan.</p>
        </div>
        <div class="col-md-4">
          <img src="https://primaseru.smktelkom-bdg.sch.id/static/homepage/images/school_clubs/paskibra.jpg"  style="border-radius: 30px 30px 30px 30px;"svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></svg>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 align="left">Pramuka</h2>
          <p align="justify" class="lead-left">Pramuka SMK Telkom Bandung didirikan oleh beberapa pembina dan beberapa siswa dan siswi. Pramuka didirikan pada 1 september tahun 2013 dan memiliki GUDEP 27137-27138. Salah satu anggota pramuka pernah mewakili sekolah untuk dikirim ke wilayah perbatasan negara di Pulau Kalimantan dan di tahun sebelumnya dibentuk SAKA Telematika yang memiliki 50 orang.
          </p>
        </div>
        <div class="col-md-4 order-md-1">
          <img src="https://primaseru.smktelkom-bdg.sch.id/static/homepage/images/school_clubs/pramuka.jpg"style="border-radius: 30px 30px 30px 30px;"svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></svg>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
        <div class="row featurette">
          <div class="col-md-7">
            <h2 align="left">Telkom Basketball</h2>
            <p align="justify" >Tim Basketball SMK Telkom di bentuk empat tahun yang lalu oleh pendahulu kami angkatan pertama, kami semua tim basket SMK Telkom terus berjuang agar nama tim basket terkenal di kanca umum dan nasional. Kami melakukan latihan rutin setiap hari Selasa dan Kamis, kami juga mengadakan latihan tanding dengan SMK atau SMA lain di sekitar Kabupaten Bandung dan Kota Bandung. Kami juga mengadakan kegiatan tahunan setiap bulan Ramadhan.

            </p>
          </div>
          <div class="col-md-4">
            <img src="https://primaseru.smktelkom-bdg.sch.id/static/homepage/images/school_clubs/basket.jpg"style="border-radius: 30px 30px 30px 30px;"svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></svg>
          </div>
          <hr class="featurette-divider">


          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading-left fw-normal lh-1 ">Telkom Generation Futsal</h2>
              <p align="justify"  class="lead-left">Telkom Generation Futsal ini nama team futsal dari SMK Telkom. Kenapa kami menamakan Telkom Generation Futsal, karena ada generasi di setiap tahunnya. TGF sudah mempunyai 4 generasi yang selalu mengikuti tournament event-event futsal di Kota Bandung maupun Kabupaten Bandung. TGF mendapatkan sebuah prestasi saat mengikuti event Telkomschool Art & Sport mendapat juara 1 dan peringkat 4. TGF memiliki slogan “STILL TOGETHER AND RESPECT”.              </p>
            </div>
            <div class="col-md-4 order-md-1">
              <img src="https://primaseru.smktelkom-bdg.sch.id/static/homepage/images/school_clubs/futsal.jpg" style="border-radius: 30px 30px 30px 30px;"svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></svg>
            </div>
          </div>
      
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 align="justify">Tarung Derajat</h2>
              <p align="justify" >Tarung Derajat adalah salah satu ekstrakulikuler bela diri di SMK Telkom Bandung. Tarung derajat merupakan seni bela diri fullbody contact. Tarung derajat menekankan agresivitas serangan dalam memukul dan menendang. Namun, tidak terbatas pada teknik itu saja, bantingan, kuncian, dan sapuan kaki juga termasuk dalam metode pelatihan nya. Bela diri tarung derajat didasari dengan mengolah otak, otot, dan nurani. Motto tarung derajat : “aku ramah bukan berarti aku takut. Aku tunduk bukan berarti tunduk”.              </p>
            </div>
            <div class="col-md-4">
              <img src="https://primaseru.smktelkom-bdg.sch.id/static/homepage/images/school_clubs/tarung_derajat2.jpg"style="border-radius: 30px 30px 30px 30px;"svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></svg>
            </div>
            <hr class="featurette-divider">
  

            
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 align="left" >Volley</h2>
              <p align="justify"class="lead-left">Volley merupakan salah satu kegiatan ekstrakulikuler di SMK Telkom Bandung yang berdiri pada tahun 2015. Dengan masuk ke ekskul ini kalian akan mempelajari tentang teori dasar lapangan, teknik-teknik dasar bermain, dan tata cara bermain bola volley.              </p>
            </div>
            <div class="col-md-4 order-md-1">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUH-P4oirf4bE50kYYdAFTD2e7YDmFOvspqw&usqp=CAU"style="border-radius: 30px 30px 30px 30px;"svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></svg>
            </div>
          </div>
              
                  <hr class="featurette-divider">

                  <div class="row featurette">
                    <div class="col-md-7">
                      <h2 align="left">Taekwondo</h2>
                      <p align="justify">Taekwondo adalah seni bela diri asal Korea yang juga menjadi olahraga nasional Korea. Ini adalah salah satu seni bela diri populer di dunia yang dipertandingkan di Olimpiade.Dalam bahasa Korea, Hanja untuk kata Tae berarti "menendang atau menghancurkan dengan kaki"; Kwon berarti "tinju"; dan Do berarti "jalan" atau "seni". Jadi, Taekwondo dapat diartikan sebagai "seni tangan dan kaki" atau "cara kaki dan kepalan". Kepopuleran Taekwondo telah menyebabkan seni ini berkembang dalam berbagai bentuk. Seperti banyak seni bela diri lainnya, Taekwondo adalah gabungan dari teknik perkelahian, bela diri, olahraga, hiburan, dan filsafat. Biasanya para Taekwondoin menyapa seseorang di media sosial dengan sebutan Kyongrye.</p>
                    </div>
                    <div class="col-md-4">
                      <img src="https://primaseru.smktelkom-bdg.sch.id/static/homepage/images/school_clubs/taekwondo.jpg" style="border-radius: 30px 30px 30px 30px;"svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></svg>
                    </div>
                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7 order-md-2">
                          <h2 align="left">English Club</h2>
                          <p align="justify">English Club merupakan wadah bagi siswa yang berminat mengasah keterampilan berbahasa Inggris dengan terlihat dalam kegiatan pembelajaran. Kegiatan English club diadakan dua kali dalam sepekan yaitu Rabu dan Kamis. Siswa diajarkan empat keterampilan berbahasa dengan metode dan Teknik pembelajaran yang menyenangkan. Kegiatan ini pun merupakan saran berprestasi siswa dalam berbahasa Inggris. Secara berkala kita pun mengundang penutur asli Bahasa Inggris untuk membantu siswa belajar sehingga mereka semakin bersemangat dan senang berlatih Bahasa Inggris                      </p>
                        </div>
                        <div class="col-md-4 order-md-1">
                          <img src="https://primaseru.smktelkom-bdg.sch.id/static/homepage/images/school_clubs/english_club.jpg"style="border-radius: 30px 30px 30px 30px;"svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></svg>
                        </div>
                      </div>
                  
                      <hr class="featurette-divider">

                      
                  <div class="row featurette">
                    <div class="col-md-7">
                      <h2 align="left" >SKILLAS!</h2>
                      <p align="justify">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
                    </div>
                    <!-- <div class="col-md-4">
                      <style="border-radius: 30px 30px 30px 30px;"svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></svg>
                    </div>
                    <hr class="featurette-divider">
                      <!-- <script>
                        $(document).ready(function() {
                          $.get('/api/listekskul', function(data) {
                              var ekskul = data[0]; // Ambil data pertama, atau sesuaikan sesuai kebutuhan Anda
                              
                              // Memasukkan data ke dalam elemen HTML
                              $('#ekskul-title').text(ekskul.title);
                              $('#ekskul-description').text(ekskul.description);
                              $('#ekskul-image').attr('src', ekskul.image);
                          });
                      });
                      </script> -->

                    {{-- carousel--}}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" > -->
  <div class="carousel-inner"style="border-radius: 30px 30px 30px 30px;">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="img/IMG_3216.JPG" class="d-block w-100" alt="..." style="border-radius: 30px 30px 30px 30px;">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="img/IMG_3223.JPG" class="d-block w-100" alt="..." style="border-radius: 30px 30px 30px 30px;">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="img/IMG_3211.JPG" class="d-block w-100" alt="..." style="border-radius: 30px 30px 30px 30px;">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://presisi.co/assets/images/news/2023/01/ganjar-pranowo-atau-puan-maharani-bisa-jadi-pdip-usung-megawati-jadi-capres-2024-63ba25fd22ac0.jpg" class="d-block w-100" alt="..." style="border-radius: 30px 30px 30px 30px;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </div>
  </div>
</main>

<!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s" style="border-radius: 30px 30px 0 0;">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 align="left" class="text-white mb-3">Quick Link</h4>
                    <a class="btn btn-link" href="/PrivacyPolicy">Privacy Policy</a>
                    <a class="btn btn-link" href="/TermsCondition">Terms & Condition</a>
                    <a class="btn btn-link" href="/FaqsHelp">FAQs & Help</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 align="left" class="text-white mb-3">Contact</h4>
                    <p align="left" class="text-white mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p align="left" class="text-white mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p align="left" class="text-white mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2"> 
                        <a class="text-danger btn btn-outline-light btn-social" href="https://www.instagram.com/ghinanms/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 align="left" class="text-white mb-3">Maps</h4>
                    <div class="row g-2 pt-2">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <iframe class="position-relative rounded w-200 h-200"
                                src="https://maps.google.com/maps?q=smk%20telkom%20bandung&#038;t=m&#038;z=10&#038;output=embed&#038;iwloc=near"
                                frameborder="0" style="min-height: 200px; border:200px;" allowfullscreen="" aria-hidden="false"
                                tabindex="0"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 align="left"      class="text-white mb-3">Newsletter</h4>
                    <p align="left" class="text-white mb-3">Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email"style="border-radius: 0 30px 30px 0;">
                        <button type="button" class="btn btn-danger py-2 position-absolute top-0 end-0 mt-2 me-2"style="border-radius: 0 30px 30px 0;">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">KaryaSiswa</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="/Home">Home</a>
                            <a href="/FaqsHelp">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-danger btn-lg-square back-to-top"style="border-radius: 30px 30px 30px 30px;"><i class="bi bi-arrow-up"></i></a>
<!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

  </body>
</html>